

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>产品属性管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/html/admin/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/html/admin/layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">一级分类</label>
            <div class="layui-input-block">
              <select name="firstId" lay-search lay-filter="initsecondlevel">
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">二级分类</label>
            <div class="layui-input-block">
              <select name="secondId" lay-search lay-filter="initproduct">
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">产品</label>
            <div class="layui-input-block">
              <select name="productId" lay-search>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-productproperty-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
<!--          <button class="layui-btn layuiadmin-btn-productproperty" data-type="batchdel">删除</button>-->
          <button class="layui-btn layuiadmin-btn-productproperty" data-type="add">添加</button>
        </div>
      
        <table id="LAY-productproperty-manage" lay-filter="LAY-productproperty-manage"></table>
        <script type="text/html" id="table-useradmin-admin">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

 <script src="/html/admin/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '/html/admin/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'productadmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;

    form.on('submit(LAY-productproperty-front-search)', function(data){
      //执行重载
      table.reload('LAY-productproperty-manage', {
        where: data.field
      });
    });

    $(function () {

      $.ajax({
        url:"/admin/firstlevel/nopage"
        ,type:"GET"
        ,dataType:"json"
        ,async: false
        ,success:function(res) {
          let select = $("select[name='firstId']");
          select.empty();
          let con = '<option value="0">全部</option>';
          for (let i = 0; i < res.length; i++) {
            con += '<option value='+'"'+res[i].firstId+'"'+'>'+res[i].firstName+'</option>';
          }
          select.html(con);
          //这一步必不可少
          form.render("select");
        }
      });

    });
    form.on('select(initsecondlevel)', function(data){
      $.ajax({
        url:"/admin/secondlevel/nopage"
        ,type:"GET"
        ,data: {"firstId": data.value}
        ,dataType:"json"
        ,async: false
        ,success:function(res) {
          let select = $("select[name='secondId']");
          select.empty();
          let con = '<option value="0">全部</option>';
          for (let i = 0; i < res.length; i++) {
            con += '<option value='+'"'+res[i].secondId+'"'+'>'+res[i].secondName+'</option>';
          }
          select.html(con);
          //这一步必不可少
          form.render("select");
        }
      });
    });
    form.on('select(initproduct)', function(data){
      $.ajax({
        url:"/admin/secondlevel/products/nopage"
        ,type:"GET"
        ,data: {"secondId": data.value}
        ,dataType:"json"
        ,async: false
        ,success:function(res) {
          let select = $("select[name='productId']");
          select.empty();
          let con = '<option value="0">全部</option>';
          for (let i = 0; i < res.length; i++) {
            con += '<option value='+'"'+res[i].productId+'"'+'>'+res[i].productName+'</option>';
          }
          select.html(con);
          //这一步必不可少
          form.render("select");
        }
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-productproperty-manage')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.confirm('确定删除吗？', {icon:3, title: '提示'}, function(index) {
            
          //执行 Ajax 后重载
          $.ajax({
            url: '/admin/property/batchdelete'
            ,type: 'POST'
            ,data: JSON.stringify(checkData)
            ,dataType: 'json'
            ,contentType: 'application/json;charset=utf-8'
            ,success: function (res) {
              if (res.status == 0) {
                layer.msg(res.msg,{icon:5});
                return false;
              }
              table.reload('LAY-productproperty-manage');
              layer.msg('已删除');
            }
          });
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '添加产品属性信息'
          ,content: 'addproductproperty.html'
          ,area: ['650px', '630px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submit = layero.find('iframe').contents().find("#LAY-productproperty-front-submit");

            //监听提交
            iframeWindow.layui.form.on('submit(LAY-productproperty-front-submit)', function(data){
              let field = data.field; //获取提交的字段
              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
                url: '/admin/product/property/add'
                ,type: 'POST'
                ,data: field
                ,dataType: 'json'
                ,success: function (res) {
                  if (res.status == 0) {
                    layer.msg(res.msg,{icon:5});
                    return false;
                  }
                  table.reload('LAY-productproperty-manage');
                  layer.close(index); //关闭弹层
                }
              });

            });  
            
            submit.trigger('click');
          }
        }); 
      }
    }  
    $('.layui-btn.layuiadmin-btn-productproperty').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>

