

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>效果图管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../admin/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../admin/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">客户</label>
                    <div class="layui-input-block">
                        <select name="customerId" lay-search lay-filter="inithouse">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">房子</label>
                    <div class="layui-input-block">
                        <select name="houseId" lay-search lay-filter="initsolutions">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">方案</label>
                    <div class="layui-input-block">
                        <select name="soluId" lay-search>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-quote-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
            </div>

            <table id="LAY-quote-manage" lay-filter="LAY-quote-manage"></table>
            <script type="text/html" id="table-quote-admin">
                <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑价格</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'customeradmin', 'table'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

        //监听搜索
        form.on('submit(LAY-quote-front-search)', function(data){
            let field = data.field;

            //执行重载
            table.reload('LAY-quote-manage', {
                where: field
                ,page: {
                    curr: 1
                }
            });
        });

        $(function(){
            $.ajax({
                url:"/xddesign/design/customers/nopage"
                ,type:"GET"
                ,dataType:"json"
                ,async: false
                ,success:function(res) {
                    let select = $("select[name='customerId']");
                    select.empty();
                    let con = '<option value="0">全部</option>';
                    for (let i = 0; i < res.length; i++) {
                        con += '<option value='+'"'+res[i].id+'"'+'>'+res[i].username+'</option>';
                    }
                    select.html(con);
                    //这一步必不可少
                    form.render("select");
                }
            });



        });
        form.on('select(inithouse)', function (data) {
            $.ajax({
                url:"/xddesign/design/customer/house/nopage"
                ,type:"GET"
                ,data:{"customerId":data.value}
                ,dataType:"json"
                ,async: false
                ,success:function(res) {
                    let select = $("select[name='houseId']");
                    select.empty();
                    let con = '<option value="0">全部</option>';
                    for (let i = 0; i < res.length; i++) {
                        con += '<option value='+'"'+res[i].houseId+'"'+'>'+res[i].houseName+'</option>';
                    }
                    select.html(con);
                    //这一步必不可少
                    form.render("select");
                }
            });
        });
        form.on('select(initsolutions)', function (data) {
            $.ajax({
                url:"/xddesign/design/customer/solutions/nopage"
                ,type:"GET"
                ,data:{"houseId":data.value}
                ,dataType:"json"
                ,async: false
                ,success:function(res) {
                    let select = $("select[name='soluId']");
                    select.empty();
                    let con = '<option value="0">全部</option>';
                    for (let i = 0; i < res.length; i++) {
                        con += '<option value='+'"'+res[i].soluId+'"'+'>'+res[i].soluName+'</option>';
                    }
                    select.html(con);
                    //这一步必不可少
                    form.render("select");
                }
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-quote-manage')
                    ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }
                let ids = [];
                for (let i = 0; i < checkData.length; i++) {
                    ids.push(checkData[i].quoteId);
                }

                layer.confirm('确定删除吗？', function(index) {

                    //执行 Ajax 后重载
                    $.ajax({
                        url: '/xddesign/design/customer/quote/batchdelete'
                        ,type: 'POST'
                        ,data: JSON.stringify(ids)
                        ,dataType: 'json'
                        ,contentType: 'application/json;charset=utf-8'
                        ,success: function (res) {
                            if (res.status === 0) {
                                layer.msg(res.msg,{icon:5});
                                return false;
                            }
                            table.reload('LAY-quote-manage');
                            layer.msg('已删除');
                        }
                    });
                });

            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>
