img {
    box-sizing: border-box;
    border-width: 0px;
    border-style: initial;
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.back {
    margin: 0 5px 5px 0;
}

.product {
    text-align: center;
    height: 200px;
    margin-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.product img {
    width: auto;
    height: 80%;
}

.tableheadcss {
    font-weight: bold;
    background-color: #2F4056;
    color: white;
    text-align: center;
}

.pname {
    display: inline-block;
    width: 30%;
    font-size: 12px;
}

.pval {
    display: inline-block;
    width: 65%;
    font-size: 15px;
}