<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>产品一级分类管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../admin/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../admin/layuiadmin/style/admin.css" media="all">
  <script src="../../../../js/utils/getUrlParam.js"></script>
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">户型</label>
          <div class="layui-input-block">
            <select name="houseType.typeId">
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">设计人员</label>
          <div class="layui-input-block">
            <select name="design.id">
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-template-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-template" data-type="batchdel">删除</button>
      </div>

      <table id="LAY-template-manage" lay-filter="LAY-template-manage"></table>
      <script type="text/html" id="table-useradmin-admin">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script src="../../../admin/layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../admin/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'templateadmin', 'table'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

    form.on('submit(LAY-template-front-search)', function (data) {
      let field = data.field;

      //执行重载
      table.reload('LAY-template-manage', {
        where: field
      });
    });

    $(function () {

      $.ajax({
        url:"/xddesign/design/customer/houseType"
        ,type:"GET"
        ,dataType:"json"
        ,success:function(res) {
          let select = $("select[name='houseType.typeId']");
          select.empty();
          let con = '<option value="0">全部</option>';
          for (let i = 0; i < res.length; i++) {
            con += '<option value='+'"'+res[i].typeId+'"'+'>'+res[i].typeName+'</option>';
          }
          select.html(con);
          //这一步必不可少
          form.render("select");
        }
      });

      $.ajax({
        url:"/xddesign/admin/design"
        ,type:"GET"
        ,dataType:"json"
        ,success:function(res) {
          let select = $("select[name='design.id']");
          select.empty();
          let con = '<option value="0">全部</option>';
          for (let i = 0; i < res.length; i++) {
            con += '<option value='+'"'+res[i].id+'"'+'>'+res[i].username+'</option>';
          }
          select.html(con);
          //这一步必不可少
          form.render("select");
        }
      });

    })

    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-template-manage')
                ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        let ids = [];
        for (let i = 0; i < checkData.length; i++) {
          ids.push(checkData[i].tempId);
        }
        layer.confirm('确定删除吗？', {icon:3, title: '提示'}, function(index) {

          //执行 Ajax 后重载
          $.ajax({
            url: '/xddesign/design/customer/template/batchdelete'
            ,type: 'POST'
            ,data: JSON.stringify(ids)
            ,dataType: 'json'
            ,contentType: 'application/json;charset=utf-8'
            ,success: function (res) {
              if (res.status === 0) {
                layer.msg(res.msg,{icon:5});
                return false;
              }
              table.reload('LAY-template-manage');
              layer.msg('已删除');
            }
          });
        });
      }
    }
    $('.layui-btn.layuiadmin-btn-template').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>
</body>
</html>

